.main-div {
  display: flex;
}

.section {
  margin-right: 100px;
}

outsideboxes{ 
  width: 650px;  
  background: rgba(9.63, 145.40, 154.06, 0);  
  border-radius: 7px;  
  border: 1px #02A4FF solid;  
  padding:10px;  
  margin-left: 30px; 
  height:auto; 
  overflow:scroll;
  height:200px;
  scrollbar:none;
} 
.outsideboxes::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */

}
.insideboxes {
  margin: 10px;
}

.pintopstocks {
  display: flex;
  align-items: center;
}

.font-insideboxes {
  margin-right: 10px;
}

.button-container {
  display: flex;
}

.BuySmallButton,
.SellSmallButton {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #02A4FF;
  color: #fff;
  cursor: pointer;
}

.BuySmallButton:hover,
.SellSmallButton:hover {
  background-color: #0077CC;
}

.verticalbox {
  margin-top: 20px;
}

.verticalbox h2 {
  margin-bottom: 10px;
}
