/* Resetting default margin and padding for the list items */
.ul {
    margin: 0;
    padding: 0;
    
  }
  
  /* Styling the navigation bar */
  .nav {
    background-color: #9384c200; /* Change this to your desired background color */
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .nav {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: white; /* Change this to your desired text color */
  }
  
.logout{
    text-align: end;
}
  
  /* Centering the navigation links */
 
  
  .nav li {
    display: inline;
    margin-right: 10px; /* Adjust the spacing between links */
  }
  
  /* Making the navigation bar fixed at the top */
  .nav {
    
    top: 0;
    width: 100%;
  }
  
  /* Adding spacing between the header and the navigation bar */
  .h2 {
    margin-bottom: 20px;
    color:white;
  }
   .button {
    
    background-color: 358FC1;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    transition: padding-left 0.3s,padding-right 0.3s, background-color 0.3s;
  }
  input[type=text],input[type=password],input[type=number],input[type=email],
  select,input[type=date],textarea
  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 7px;
    box-sizing: border-box;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .label
  {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
    color:aliceblue;
  }

  body{
    background-image: url("images/Loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    background-color: rgba(0, 131, 253, 0);
    color:white;
    margin: 0 auto;
    width: 350px;
    padding: 40px ;
    border-radius: 1em;
    border-color:rgba(24, 122, 214, 0.733);
    border-style:solid;
    text-align: center;
}
.Home{
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Home:hover{
    color: rgb(41, 207, 207);
}

hr{
    color:rgb(76, 99, 148);
}

a{
  color:aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
  color:aquamarine
}


.card 
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 1px solid rgb(0, 162, 255); /* Add a 1px solid border with a light gray color */
    padding: 10px; /* Add some padding to the card content */
    color: rgb(255, 255, 255);
    border-radius: 13px;
    background: rgba(9.63, 145.40, 154.06, 0.17);
    
}

input{
  background-color:  rgba(51, 148, 165, 0.4);
  border:none;
}

.main-div {
  display: flex;
  flex-direction: row;
}

.outsideboxes{
  width: 650px; 
  background: rgba(9.63, 145.40, 154.06, 0); 
  border-radius: 7px; 
  border: 1px #02A4FF solid; 
  padding:10px; 
  margin-left: 30px;
  height:auto;
}

.insideboxes{
  width: 600px; 
  height: 35px; 
  background: rgba(9.63, 145.40, 154.06, 0.17);
  border-radius: 7px; 
  border: 1px #02A4FF solid; 
  margin-top: 10px;
  margin-bottom:10px;
  text-align: right;
}

.sub-main-div {
  display: flex;
  margin-right: 40px;
  justify-content: right;
  width: 100%;
}

.verticalbox {
  width: auto;
}

.verticalbox .outsideboxes {
  width: 300px;
  height: auto;
}

.verticalbox .insideboxes {
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
}

p{
color: white;
font-size: 20px;
font-family: Inria Serif;
font-style: italic;
font-weight: 500;
word-wrap: break-word;
text-align: left;
margin:20px;
}

.portfoliobox{
  width: 730px; 
  background: rgba(9.63, 145.40, 154.06, 0); 
  border-radius: 7px; 
  border: 1px #02A4FF solid; 
  padding:10px; 
  margin-left: 30px;
  height: auto;
}

.button:hover{
  background-color: rgb(41, 207, 207);
  color: white;
  padding-left:40px;
  padding-right:40px;
  padding-top:12px;
  padding-bottom:12px;
  
}

.Fundsbox{
  width: 400px; 
  height: 200px;
  background: rgba(9.63, 145.40, 154.06, 0); 
  border-radius: 7px; 
  border: 1px #02A4FF solid; 
  padding:10px; 
  margin-left: 30px;
  background: rgba(9.63, 145.40, 154.06, 0.17);
  
}

.BuySmallButton{
  background-color: 358FC1;
    border: none;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
    margin-right:9px;
    transition: padding-left 0.3s,padding-right 0.3s, background-color 0.2s;
  background-color: rgb(81, 201, 81);
}

.BuySmallButton:active{
  background-color: rgb(53, 105, 53);

}

.SellSmallButton{
  background-color: 358FC1;
    border: none;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
    margin-right:9px;
    transition: padding-left 0.3s,padding-right 0.3s, background-color 0.2s;
  background-color: rgb(255, 0, 0);
}

.SellSmallButton:active{
  background-color: rgb(151, 46, 46);

}
